//
// Colors
// --------------------------------------------------
$brand-black: #272828;
$brand-blue: #4f9dba;
$brand-red: #da355f;

//
// Fonts
// --------------------------------------------------
$font-family: 'Roboto', sans-serif;
$headings-font-family: 'BaronNeueBlack', 'Roboto', sans-serif;